*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
a{
    color: white;
    text-decoration: none;
}
button{
    border: none;
}
.navbar{
    height: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 20px;
    background-color: darkslategray;
    font-size: 20px;
}